[submodule "tedc-sw-interoperability-exam"]
	path = tedc-sw-interoperability-exam
	url = https://github.com/alif-faishol/tedc-sw-interoperability-exam.git
[submodule "UAS-PengelolaTurnamen"]
	path = UAS-PengelolaTurnamen
	url = https://github.com/eeps12/UAS-PengelolaTurnamen.git
[submodule "E-Voting-KPU"]
	path = E-Voting-KPU
	url = https://github.com/muzibmuzakar/E-Voting-KPU.git
[submodule "UAS_Booking"]
	path = UAS_Booking
	url = https://github.com/jarzhyakuya/UAS_Booking.git
[submodule "UAS-API_TEDC"]
	path = UAS-API_TEDC
	url = https://github.com/Yusuf-Sahidin/UAS-API_TEDC.git
[submodule "LumenHotel"]
	path = LumenHotel
	url = https://github.com/rabellaazzahra/LumenHotel.git
[submodule "gamestore"]
	path = gamestore
	url = https://github.com/idham695/gamestore.git
[submodule "LumenHotel-diky"]
	path = LumenHotel-diky
	url = https://github.com/rabellaazzahra/LumenHotel.git
[submodule "LumenHotel-adam"]
	path = LumenHotel-adam
	url = https://github.com/rabellaazzahra/LumenHotel.git
[submodule "LumenBookStore"]
	path = LumenBookStore
	url = https://github.com/nashrul48/LumenBookStore.git
